:root{
    /*font-family: 'Montserrat', sans-serif;*/
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans 3', sans-serif;*/
    --background-color: #27374D;
    --background-color-btn: #27374d42;
    --background-color-listas: #526D82;
    --azul-claro: #526d826e;
    --font-color1: white;
} 


body {
    font-family:  'Source Sans 3', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--font-color1);
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2h;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    color: white;
    padding: 10px;
    text-align: center;
      
}

 .iframe-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
} 

.button-back {
    cursor: pointer;
    display: block;
    background-color: #27374d00;   
    border: none;
    color: var(--font-color1);
    font-weight: bold;
}

/* .toggleItens {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
} */

.button-include-itens{
    cursor: pointer;
    display: block;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.menu-include-itens {
    transition: 500ms;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 2rem;
    bottom: 3.5rem;
}

.lista_inclusao {
    cursor: pointer;
    margin-top: 5px;
    background-color: var(--background-color-listas);
}


.hidden {
    display: none;
}

.body-block {
    display: block;
    gap: 20px;
    margin-top: 10px;
    
}

.section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 5px;
    align-items: baseline;
    justify-content: center;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
}


.section h2::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

.main-buttons {
    margin-top: 20px;
}

.main-buttons-item{
    cursor: pointer;
}

.lista-despesas {
    margin: 10px;
}

.despesa-item{
    margin-top: 5px;
}

